@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #212121;
	--background-dark: #171717;
	--background-light: #2f2f2f;
	--foreground: #c27568;
	--border: #999;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

code {
	padding-inline: .3em;
	line-height: 1.6em;
	background: linear-gradient( 45deg, rgba(0, 0, 0, .4) 0%, rgba(0, 0, 0, .2) 100% );
	border: .5px solid #000;
	border-radius: 6px;
	margin-inline: 1px;
}

.w-100 {
	width: 25rem;
}

.h-screen-44 {
	height: calc(100vh - 44px);
}

.lh-28 {
	line-height: 28px;
}

.gc-3 {
	grid-template-columns: repeat(3, minmax(max-content, 1fr));
}

.bg-dark {
	background-color: var(--background-dark);
}

.bg-light {
	background-color: var(--background-light);
}

.border-dark {
	border-color: var(--background);
}

.border-light {
	border-color: var(--background-light);
}

.form-column {
	padding: 1.5rem max(1rem, 50% - 16rem);
}

.input-box {
	background: var(--background-light);
	margin-block: 2px;

	&.active {
		margin-block: 0;
		border: 2px dashed var(--foreground);
	}
}